* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 600px;
    background-image: url(images/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    margin-top: 0px;
}

.kenburns-bottom {
    -webkit-animation: kenburns-bottom 1s ease-out both;
    animation: kenburns-bottom 1s ease-out both;
}

@-webkit-keyframes kenburns-bottom {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 84%;
        transform-origin: 50% 84%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(15px);
        transform: scale(1.25) translateY(15px);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
}

@keyframes kenburns-bottom {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 84%;
        transform-origin: 50% 84%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(15px);
        transform: scale(1.25) translateY(15px);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
}

.vibrate-1 {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-family: "Protest Strike", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin-left: 30px;
    display: flex;
    align-items: center;
    animation: changeColor 5s infinite;
}

@keyframes changeColor {
    0% {
        color: #DC143C
    }

    50% {
        color: #000000
    }

    100% {
        color: #DC143C
    }
}

.logo_side {
    font-family: "Protest Strike", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    margin-left: 30px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    display: flex;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

.icon {
    fill: black;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.navbar-form {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
}

.form-group {
    display: inline-block;
}

.formText {
    height: 30px;
    width: 200px;
    margin-right: -50px;
    border-radius: 30px;
    border: none;
}

.searchBtn {
    background-color: crimson;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    border: none;
    color: white;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.wall {
    padding-top: 50px;
    font-size: 50px;
}

.focus-in-expand-fwd {
    -webkit-animation: focus-in-expand-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.header {
    text-align: center;
}

.color-change-2x {
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: cyan;
    }

    100% {
        background: yellow;
    }
}

@keyframes color-change-2x {
    0% {
        background: cyan;
    }

    100% {
        background: yellow;
    }
}

.navHeader {
    display: inline-block;
    padding: 15px;
}

.material-symbols-outlined {
    animation: changeColor 5s infinite;
}

.navTitle {
    font-family: "Protest Strike", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    animation: changeColor 5s infinite;
    padding-left: 5px;
    text-decoration: none;
}

@keyframes changeColor {
    0% {
        color: #DC143C
    }

    50% {
        color: #000000
    }

    100% {
        color: #DC143C
    }
}

.containerSection {
    display: grid;
    justify-items: center;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 40px;
    border-radius: 20px;
    gap: 30px;
}

.containerCard {
    display: none;
    justify-items: center;
}

.card {
    display: grid;
    background-color: white;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 12px 0 rgba(51, 51, 51, 0.308);
}

.scale-up-top {
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

.rotate-vert-left {
    -webkit-animation: rotate-vert-left 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
    animation: rotate-vert-left 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

@-webkit-keyframes rotate-vert-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}

@keyframes rotate-vert-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}

.rotate-vert-right {
    -webkit-animation: rotate-vert-right 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
    animation: rotate-vert-right 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

@-webkit-keyframes rotate-vert-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }

    100% {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}

@keyframes rotate-vert-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }

    100% {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}

.photoHeader {
    width: 100%;
    height: 300px;
    margin-top: 57px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image {
    padding: 30px;
    height: 350px;
    width: 350px;
}

#cardImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.description {
    padding: 10px 30px;
    line-height: 1.5rem;
}

.seeBtn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    align-self: center;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

.seeBtn:hover {
    background-color: #DC143C;
}

.container-footer {
    height: 100px;
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
    margin-bottom: 30px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(10px);
}

.socialmedia {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.icon_social {
    margin: 0 10px;
}

.here {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.clickHere {
    margin-bottom: 20px;
    align-self: center;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

.clickHere:hover {
    background-color: #DC143C;
}

@media screen and (min-width: 1370px) {
    .containerSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .wall {
        padding-top: 50px;
        font-size: 50px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1370px) {
    .containerSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);

    }

    .wall {
        padding-top: 50px;
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .containerSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

    }

    .wall {
        padding-top: 50px;
        font-size: 35px;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
    }

    .containerSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

    }

    .wall {
        padding-top: 50px;
        font-size: 30px;
    }
}